body {
    font-family: 'Redressed', 'cursive';
    margin: 0;
}
h1 {
    font-size: 700;
}
h3{
    font-size: 500;
}
.heading-color {
    color: tomato;
    font-size: 700;
}

.section-arrange {
    display: flex;
    float: left;
}
.half-div {
    width: 40%;
    margin: 6px;
    padding: 3%;
    box-shadow: 3px 5px rgb(125, 160, 160), 5px 8px rgb(188, 202, 202);
}
.div-img {
    width: 100%;
    position: center;
}

.botton-style {
    display: inline-block;
    border-radius: 4px;
    background-color: tomato;
    color: White;
    border: none;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    margin: 5px;
}